<main >
  <div class="bienvenida">

  <h1>Hola {{username}} Bienvenido a nuestro e-commerce</h1>
  <h2> Contenido del Carrito <strong>{{cid}}</strong></h2>
  <div class="flex">

  <a href="/products" class="btn btn-dark">Ir a la vista de productos</a>
    <button class="btn btn-danger empty-cart-btn" data-cart-id="{{cid}}">Vaciar carrito <i class="bi bi-cart-x"></i></button>
  </div>
  </div>
  <div>



<div class="container">
  {{#each products}}
  {{!-- {{#if this.pid.status}} --}}
    <div class="card" id="product-{{@index}}">
      <div class="thumbnail-display-area">
        <img class="main-image" src="{{this.pid.thumbnails.[0]}}" alt="Imagen principal del producto">
      </div>
      <div class="thumbnails">
        {{#each this.pid.thumbnails}}
          <img class="thumbnail" src="{{this}}" alt="Thumbnail del producto">
        {{/each}}
      </div>
      <h3 class="text-center">{{this.pid.title}}</h3>
      <p><strong>Precio:</strong> {{ this.pid.price}}</p>
      <p>
        <strong>Estado:</strong> 
        <span class="status-span"> 
        
        
          {{#if this.pid.status}} Disponible {{else}} No disponible {{/if}}
        </span>
      </p>
      <p><strong>Stock:</strong> {{this.pid.stock}}</p>
      <p><strong>Categoría:</strong> {{this.pid.category}}</p>
      <p><strong>Cantidad en el Carrito:</strong> {{this.quantity}}</p>
      <button class="btn btn-danger remove-from-cart-btn" data-cart-id="{{../cid}}" data-product-id="{{this.pid._id}}">Quitar del carrito</button>
    </div>
    {{!-- {{/if}} --}}
  {{/each}}
</div>


  </div>
</main>
<script src="/js/home.js"></script>
<script src="/js/cart.js"></script>

