<main>
  <div class="bienvenida">
    <h1>Bienvenido a nuestro e-commerce</h1>
    <h2> Estos son nuestros productos</h2>
    <div class="flex">
      <a href="/realtimeproducts" class="btn btn-dark">Ir a Real Time Products</a>
      <a href="/chat" class="btn btn-primary">Ir al chat</a>
      <a href="/carts/664006dadff1d46a8cdb49c4" class="btn btn-secondary">Ir al carrito</a>
      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Acceder</a>




    </div>
  </div>
  <div class="container">
    {{>filters}}

    {{#each products}}
      <div class="card" id="product-{{_id}}">
        <div class="thumbnail-display-area">
          <img class="main-image" src="{{this.thumbnails.[0]}}" alt="Imagen principal del producto">
        </div>
        <div class="thumbnails">
          {{#each this.thumbnails}}
            <img class="thumbnail" src="{{this}}" alt="Thumbnail del producto">
          {{/each}}
        </div>
        <h3 class="text-center">{{this.title}}</h3>
        <p><strong>Precio:</strong> {{ this.price}}</p>
        <p>
          <strong>Estado:</strong>
          <span class="status-span">
            {{#if this.status}} Disponible {{else}} No disponible {{/if}}
          </span>
        </p>
        <p><strong>Categoría:</strong> {{this.category}}</p>
        {{#if this.status}}
        <button class="btn btn-warning add-to-cart-btn" data-cart-id="664006dadff1d46a8cdb49c4" data-product-id="{{_id}}">Agregar al carrito</button>
        {{else}}
        <button class="btn btn-warning add-to-cart-btn" disabled data-cart-id="664006dadff1d46a8cdb49c4" data-product-id="{{_id}}">Agregar al carrito</button>
        {{/if}}
      </div>
    {{/each}}

    {{>paginator}}
  </div>



<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/sessions/login" method="POST" class="form-group">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-outline-dark w-100">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
</main>


<script src="/js/home.js"></script>
{{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script> --}}
