<main >
  <div class="bienvenida">

  <h1>Hola {{username}} Bienvenido a nuestro e-commerce</h1>
  <h2> {{nombre}} {{apellido}} estos son nuestros productos disponibles</h2>
  {{!-- <h3> estos los productos {{products}}</h3> --}}
  <a href="/realtimeproducts" class="btn btn-dark">Ir a Real Time Products</a>
  </div>
  <div>



<div class="container">
  {{#each products}}
  {{#if this.status}}
    <div class="card" id="product-{{@index}}">
      <div class="thumbnail-display-area">
        <img class="main-image" src="{{this.thumbnails.[0]}}" alt="Imagen principal del producto">
      </div>
      <div class="thumbnails">
        {{#each this.thumbnails}}
          <img class="thumbnail" src="{{this}}" alt="Thumbnail del producto">
        {{/each}}
      </div>
      <h3>{{this.title}}</h3>
      <p><strong>Descripción:</strong> {{this.description}}</p>
      <p><strong>Código:</strong> {{this.code}}</p>
      <p><strong>Precio:</strong> {{ this.price}}</p>
      <p>
        <strong>Estado:</strong> 
        <span class="status-span"> 
        
        
          {{#if this.status}} Disponible {{else}} No disponible {{/if}}
        </span>
      </p>
      <p><strong>Stock:</strong> {{this.stock}}</p>
      <p><strong>Categoría:</strong> {{this.category}}</p>
    </div>
    {{/if}}
  {{/each}}
</div>


  </div>
</main>
<script src="/js/home.js"></script>

