<main class="">
  <div class="">


  <div class="bienvenida mt-2 mt-md-5">
    {{!-- hero --}}
    <div class="container position-relative mt-2 mt-md-5 bg-dark rounded-top-4 p-2 rrShadow">
      <div class="position-absolute top-2 start-0 rounded-4 ms-3">
        <a href="/">
              <img src="" class="rounded-4 hero-image" style="width: 100px; height: 100px;" alt="logo e-commerce">
        </a>
      </div>
      <div class="mensaje  text-center">
        <h1 class="text-center">{{nombre_completo}} Bienvenido a nuestro e-commerce</h1>
        <h2> Estos son nuestros productos</h2>
      </div>
      <div class="position-absolute top-2 end-0 rounded-4 me-3">
        <a href="/">
              <img src="" class="rounded-4 hero-image" style="width: 100px; height: 100px;" alt="logo e-commerce">
        </a>
      </div>
    </div>
    <p id="notMocking" class="d-none">{{notMocking}}</p>
    <h3 class="cart_id d-none " id="cart_id" >cart id {{cart_id}} </h3>
    {{!-- menu --}}
    <div class="container d-flex justify-content-between mt-0 mx-2 py-3 bg-secondary z-3" style="background-color: #213547;">
      <div class="flex ">
      {{#if admin}}
        <a href="/realtimeproducts" class="btn btn-dark " id="btn-rtp"><i class="bi bi-pencil-square me-2"></i>Mantenedor de productos</a>
        <a href="/users" class="btn btn-success " id="btn-users">Administrar usuarios</a>
      {{else}}
        {{#if premium}}
          <a href="/chat" class="btn btn-primary" id="btn-chat"><i class="bi bi-chat-text me-2"></i>Ir al chat </a>
          <a href="/realtimeproducts" class="btn btn-dark " id="btn-rtp"><i class="bi bi-pencil-square me-2"></i>Mantenedor de productos</a>
        {{else}}
          {{#if uid}}
            <a href="/chat" class="btn btn-primary" id="btn-chat"><i class="bi bi-chat-text me-2"></i>Ir al chat </a>
          {{/if}}
        {{/if}}
      {{/if}}
      </div>
      <div class="flex mx-2">
      {{#if admin}}
        <a href="/profile/{{uid}}" class="btn btn-warning" id="btn-profile"><i class="bi bi-person-circle me-2"></i>Mi perfil </a>
      {{else}}
        {{#if uid}}
          <a href="/profile/{{uid}}" class="btn btn-warning" id="btn-profile"><i class="bi bi-person-circle me-2"></i>Mi perfil </a>
          <button class="btn btn-success" id="btn-tickets" onclick="redirectToTickets()"><i class="bi bi-card-checklist me-2"></i>Ver mis compras anteriores </button>
          <button class="btn btn-secondary btn-cart border border-dark" id="btn-cart" onclick="redirectToCart()"><i class="bi bi-cart me-2"></i>Ir al carrito </button>
        {{else}}
          {{!-- {{#if premium}}
            <a href="/profile/{{uid}}" class="btn btn-warning" id="btn-profile"><i class="bi bi-person-circle me-2"></i>Mi perfil </a>
            <button class="btn btn-success" id="btn-tickets" onclick="redirectToTickets()"><i class="bi bi-card-checklist me-2"></i>Ver mis compras anteriores </button>
            <button class="btn btn-secondary" id="btn-cart" onclick="redirectToCart()"><i class="bi bi-cart me-2"></i>Ir al carrito </button>
          {{/if}} --}}
        {{/if}}
      {{/if}}

        {{!-- <button class="btn btn-warning" id="btn-profile" onclick="redirectToProfile()"><i class="bi bi-person-circle me-2"></i>Mi perfil </button> --}}

      <a href="#" class="btn btn-warning mx-1" data-bs-toggle="modal" data-bs-target="#registerModal" id="btn-register"><i class="bi bi-person-plus me-2"></i>Registrarse </a>
      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" id="btn-login"><i class="bi bi-person me-2"></i>Login </a>
      <button class="btn btn-danger d-none" onclick="logout()" id="btn-logout"><i class="bi bi-door-closed me-2"></i>LogOut </button>



      </div>
    </div>
  </div>
  </div>

  {{!-- filters, productos y paginador--}}
    <div class="container rounded-bottom-4 rrShadow rrPrimaryBG z-3" >
    {{>filters}}
  {{!-- Productos --}}
    {{#each products}}
      <div class="card justify-content-center text-white" style="background-color:rgb(97, 129, 137);" id="product-{{_id}}">
        <a href="/products/{{_id}}" class="justify-content-center">
          <div class="thumbnail-display-area d-flex align-items-center justify-content-center bg-light rounded-4 mx-auto">
            <img class="main-image rounded-4 " src="{{this.thumbnails.[0]}}" alt="Imagen principal del producto">
          </div>
        </a>
        <div class="thumbnails ">
          {{#each this.thumbnails}}
            <img class="thumbnail" src="{{this}}" alt="Thumbnail del producto">
          {{/each}}
        </div>
        <p class="card-price fw-bold text-center mt-1" style="color: rgb(249, 238, 218);">{{ this.price}}</p>
        <h3 class="text-center prodName text-white">{{this.title}}</h3>
        {{!-- <p class="text-white">
          <strong>Estado:</strong>
          <span class="status-span">
            {{#if this.status}} Disponible {{else}} No disponible {{/if}}
          </span>
        </p>
        <p class="text-white"><strong>Categoría:</strong> {{this.category}}</p> --}}
        <p class="d-none owner" id="owner">{{this.owner}}</p>
        <div class="container-fluid d-flex justify-content-around">

        <a href="/products/{{_id}}" class="btn btn-warning details-btn"><i class="bi bi-eyeglasses me-2"></i>Detalles</a>
        {{#if this.status }}
          <button class="btn btn-warning add-to-cart-btn"  data-cart-id="{{cart_id}}" data-product-id="{{_id}}">
            <i class="bi bi-cart-plus me-2"></i> Agregar
          </button>
        {{else}}
          <button class="btn btn-warning add-to-cart-btn" disabled  data-product-id="{{_id}}"><i class="bi bi-cart-plus me-2"></i> Agregar</button>
        {{/if}}
        </div>


      </div>
    {{/each}}
    {{!-- paginador --}}
    <div class="container">
        {{>paginator}}
    </div>
  </div>
<!-- Modal Login-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content bg-primary-subtle">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="loginForm" class="form-group" onsubmit="login(event)">
          <div class="mb-3">
            <label for="emailLogin" class="form-label fw-bold">Email</label>
            <input type="email" placeholder="correo" name="emailLogin" id="emailLogin" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="passwordLogin" class="form-label fw-bold">Password</label>
            <div class="input-group">
              <input type="password" placeholder="Contraseña" name="passwordLogin" id="passwordLogin" class="form-control toggle-password" required>
              <button class="btn btn-outline-secondary toggle-password-btn" type="button">
                <i class="bi bi-eye"></i>
              </button>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary w-100 mt-3"><i class="bi bi-person-check me-2"></i>Ingresar </button>
          <a href="#" class="btn btn-outline-success w-100 mt-2" data-bs-toggle="modal" data-bs-target="#restoreModal" id="btn-restore"><i class="bi bi-envelope-at me-2"></i>Restablecer Contraseña </a>
          <button type="button" class="btn btn-outline-danger w-100 mt-3 d-none" data-bs-dismiss="modal">Cerrar <i class="bi bi-x-circle"></i></button>
          <a href="/sessions/github" class="btn btn-outline-dark w-100 mt-4"><i class="bi bi-github me-2"></i>Ingresar con Github </a>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Register-->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content bg-primary-subtle">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="registerModalLabel">Nuevo usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="registerForm" class="form-group" onsubmit="register(event)">
          <div class="mb-3">
            <label for="first_name" class="fw-bold">Nombre</label>
            <input type="text" placeholder="Nombre" name="first_name" class="form-control" required/>
          </div>
          <div class="mb-3">
            <label for="last_name" class="fw-bold">Apellido</label>
            <input type="text" placeholder="Apellido" name="last_name" class="form-control" />
          </div>
          <div class="mb-3 d-flex justify-content-between ">
            <div class="">
              <label for="birthDate" class="fw-bold" id="birthDate_label">Fecha de nacimiento</label>
              <input type="date" name="birthDate" id="birthDate" class="form-control" />
            </div>
            <div class="mx-2">
              <label for="age"  id="age_label">Edad</label>
              <input type="text"   name="age" id="age" class="form-control" disabled /> 
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="fw-bold">Email</label>
            <input type="email" placeholder="correo" name="email" class="form-control" required/>
          </div>
          <div class="mb-3">
            <label for="password" class="fw-bold">Password</label>
            <div class="input-group">
              <input type="password" class="form-control toggle-password" id="password" name="password" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="mostrar-ocultar-password" required>
              <button class="btn btn-outline-secondary toggle-password-btn" type="button" tabindex="-1">
                <i class="bi bi-eye"></i>
              </button>
            </div>
          </div>
          <div class=" mb-3">
            <label for="confirmPassword" class="fw-bold">Confirmar Nueva Contraseña</label>
            <div class="input-group">
            <input type="password" class="form-control toggle-password" id="confirmPassword" name="confirmPassword"  placeholder="Contraseña" aria-label="Confirmar contraseña" aria-describedby="mostrar-ocultar-password"  required>
              <button class="btn btn-outline-secondary toggle-password-btn" type="button" tabindex="-1">
                <i class="bi bi-eye"></i>
              </button>
            </div>
            </div>
          <button class="btn btn-outline-warning w-100 mt-3"><i class="bi bi-person-plus me-2"></i>Registrarse </button>
          <a href="#" class="btn btn-outline-primary w-100 mt-2" data-bs-toggle="modal" data-bs-target="#loginModal" id="btn-login"> Ir al Login <i class="bi bi-person"></i></a>
          {{!-- <button type="button" class="btn btn-outline-danger w-100 mt-3" data-bs-dismiss="modal">Cerrar <i class="bi bi-x-circle"></i></button> --}}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Restablecer-->
<div class="modal fade" id="restoreModal" tabindex="-2" aria-labelledby="restoreModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content bg-primary-subtle">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="restoreModalLabel">Restablecer Contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="restoreForm" class="form-group">
          <div class="mb-3">
            <label for="email" class="fw-bold mb-2">Email</label>
            <input type="email" placeholder="correo" name="email" class="form-control" />
          </div>
          <button type="submit" class="btn btn-outline-primary w-100 mt-3"><i class="bi bi-envelope-at me-2"></i> Enviar Correo para restablecer contraseña </button>
          <a href="#" class="btn btn-outline-warning w-100 mt-2" data-bs-toggle="modal" data-bs-target="#loginModal" id="btn-login"> <i class="bi bi-person me-2"></i>Volver al Login </a>
          {{!-- <button type="button" class="btn btn-outline-danger w-100 mt-3" id="cierraModal" data-bs-dismiss="modal">Cerrar <i class="bi bi-x-circle"></i></button> --}}
        </form>
      </div>
    </div>
  </div>
</div>


</main>
<script src="/js/home.js"></script>
<script src="/js/util.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    checkAuthStatus();
  });
</script>