<main >
  <div class="bienvenida">

  <h1>Bienvenido a nuestro e-commerce</h1>
  <h2> Estos son nuestros productos</h2>
  <div class="flex">

  <a href="/realtimeproducts" class="btn btn-dark">Ir a Real Time Products</a>
  <a href="/chat" class="btn btn-primary">Ir al chat</a>
  <a href="/carts/664006dadff1d46a8cdb49c4" class="btn btn-secondary">Ir al carrito</a>
  </div>
  </div>
  <div>


<div class="container">
  {{>filters}}

  {{#each products}}
    <div class="card" id="product-{{_id}}">
      <div class="thumbnail-display-area">
        <img class="main-image" src="{{this.thumbnails.[0]}}" alt="Imagen principal del producto">
      </div>
      <div class="thumbnails">
        {{#each this.thumbnails}}
          <img class="thumbnail" src="{{this}}" alt="Thumbnail del producto">
        {{/each}}
      </div>
      <h3 class="text-center">{{this.title}}</h3>
      <p><strong>Precio:</strong> {{ this.price}}</p>
      <p>
        <strong>Estado:</strong> 
        <span class="status-span"> 
          {{#if this.status}} Disponible {{else}} No disponible {{/if}}
        </span>
      </p>
      <p><strong>Categoría:</strong> {{this.category}}</p>
      {{#if this.status}}
    <button class="btn btn-warning add-to-cart-btn" data-cart-id="664006dadff1d46a8cdb49c4" data-product-id="{{_id}}">Agregar al carrito</button>
    {{else}}
    <button class="btn btn-warning add-to-cart-btn" disabled data-cart-id="664006dadff1d46a8cdb49c4" data-product-id="{{_id}}">Agregar al carrito</button>
    {{/if}}
    </div>
  {{/each}}


  {{>paginator}}
</div>


  </div>
</main>
<script src="/js/home.js"></script>

