<main>


  <div class="bienvenida-full"></div>
    <div class="bienvenida mt-2 mt-md-5">
      {{!-- hero --}}
      <div class="container position-relative mt-2 mt-md-5 bg-dark rounded-top-4 p-2 rrShadow">
        <div class="position-absolute top-2 start-0 rounded-4 ms-3">
          <a href="/">
                <img src="" class="rounded-4 hero-image" style="width: 100px; height: 100px;" alt="logo e-commerce">
          </a>
        </div>
        <div class="mensaje  text-center">
          <h1>Confirmación de compra</h1>
          <h2>El detalle de tu compra es el siguiente</strong></h2>
        </div>
        <div class="position-absolute top-2 end-0 rounded-4 me-3">
          <a href="/">
                <img src="" class="rounded-4 hero-image" style="width: 100px; height: 100px;" alt="logo e-commerce">
          </a>
        </div>
      </div>
      {{!-- menu --}}
      <div class="container d-flex justify-content-between mt-0 mx-2 py-3 bg-secondary z-3" style="background-color: #213547;">
        <div class="flex ">
          <a href="#" class="btn btn-dark" id="btn-store" data-cart-id="{{cid}}"><i class="bi bi-shop-window me-2"></i>Volver a la tienda</a>
        </div>
              <p class="my-auto d-none" >CartID: <strong id="cart_id">{{cid}} </strong></p>
              <h3 class="my-auto text-white" >Código del Ticket: <strong id="ticketCode" class="text-white">{{code}} </strong></h3>
        <div class="flex mx-2">
          <button class="btn btn-secondary btn-cart border border-dark" id="btn-cart" data-cart-id="{{cid}}"><i class="bi bi-cart me-2"></i>Volver al carrito </button>
        </div>
      </div>
    </div>
  </div>




  <section class=" mx-auto mt-0" >
    <div class="container rounded-bottom-4 rrPrimaryBG rrShadow" >
      <div class="carrito-productos container ">
        {{#if purchasedProducts.length}}
          <div class="d-flex flex-column align-items-center mt-3 mb-2">

            <h3 class="text-warning">Los siguientes productos fueron comprados exitosamente:</h3>

          </div>
          {{#each purchasedProducts}}
            <div
              class="row carrito-producto  mb-1 d-flex flex-nowrap flex-row container-fluid rounded-3 p-2 align-items-center justify-content-evenly"
              id="product-{{@index}}"
              style="background-color: rgb(193, 193, 193);"
            >
              <div class="col-md-2" >
                <img
                  class="carrito-producto-imagen w-50"
                  src="{{this.product.thumbnails.[0]}}"
                  alt="{{this.product.title}}"
                />
              </div>

              <div class="col-md-3">
                <div
                  class="carrito-producto-titulo d-flex flex-column align-items-center"
                >
                  <small>Producto</small>
                  <h3>{{this.product.title}}</h3>
                </div>
              </div>



              <div class="col-md-1">
                <div
                  class="carrito-producto-cantidad d-flex flex-column align-items-center"
                >
                  <small>Cantidad</small>
                  <h4 id="ticket-cantidad">{{this.quantity}}</h4>
                </div>
              </div>

              <div class="col-md-1">
                <div
                  class="carrito-producto-precio d-flex flex-column align-items-center"
                >
                  <small>Precio</small>
                  <h4 class="price">{{this.product.price}}</h4>
                </div>
              </div>

              <div class="col-md-2">
                <div
                  class="carrito-producto-subtotal d-flex flex-column align-items-center"
                >
                  <small>Subtotal</small>
                  <h4>{{multiply this.product.price this.quantity}}</h4>
                </div>
              </div>
            </div>
          {{/each}}
          <div
            class="carrito-footer mb-3 d-flex flex-nowrap flex-row container 
            rounded-3 p-8 align-items-center justify-content-around bg-secondary"
            
          >
            {{! <button type="submit" class="btn btn-danger">Seguir comprando <i class="bi bi-cart"></i></button> }}
            {{!-- <button
              id="cancel-purchase"
              class="btn btn-danger ticket-acciones-cancelar"
              data-cart-id="{{cid}}"
            >Seguir comprando <i class="bi bi-cart"></i></button> --}}

            <div
              class="carrito-footer-cantidad d-flex flex-column align-items-center"
            >
              <p class="text-light">Cantidad de artículos comprados:</p>
              <h4 id="cant" class="text-warning">{{purchasedProducts.length}}</h4>
            </div>
            <div
              class="carrito-footer-total d-flex flex-column align-items-center"
            >
              <p class="text-light">Total Compra:</p>
              <h3 id="total" class="price text-warning">{{totalAmount}}</h3>
            </div>

            {{!-- <form
              id="purchase-form"
              method="POST"
              action="/carts/{{cid}}/purchase/confirm"
            >
              <button type="submit" class="btn btn-primary">Proceder al pago
                <i class="bi bi-credit-card"></i></button>
            </form> --}}

          </div>
        {{else}}
          <div class="carrito-vacio">
            <h2>No hay productos comprados
              <i class="bi bi-emoji-frown"></i></h2>
          </div>
        {{/if}}
      </div>

      {{! productos sin stock }}
      <div class="carrito-productos container">
        {{#if failedProducts.length}}
          <h3 class="text-warning">Productos devueltos al carrito por falta de stock:</h3>
          {{#each failedProducts}}
            <div
              class="row carrito-producto  mb-3 d-flex flex-nowrap flex-row container-fluid rounded-3 p-2 align-items-center  justify-content-evenly"
              id="product-{{@index}}"
              style="background-color: rgb(245, 191, 191);"
            >
              <div class="col-md-2">
                <img
                  class="carrito-producto-imagen w-50"
                  src="{{this.product.thumbnails.[0]}}"
                  alt="{{this.product.title}}"
                />
              </div>

              <div class="col-md-3">
                <div
                  class="carrito-producto-titulo d-flex flex-column align-items-center"
                >
                  <small>Producto</small>
                  <h3>{{this.product.title}}</h3>
                </div>
              </div>

              <div class="col-md-3">
                <div
                  class="carrito-producto-stock d-flex flex-column align-items-center"
                >
                  <small>Stock actual</small>
                  <h4
                    id="carrito-stock-{{this.product._id}}"
                  >{{this.product.stock}}</h4>
                </div>
              </div>

              <div class="col-md-3">
                <div
                  class="carrito-producto-cantidad d-flex flex-column align-items-center"
                >
                  <small>Cantidad solicitada</small>
                  <h4 id="ticket-cantidad">{{this.quantity}}</h4>
                </div>
              </div>


            </div>
          {{/each}}
        {{else}}
          <div class="carrito-vacio">
            <h2>Todos los productos tienen stock suficiente
              <i class="bi bi-emoji-smile"></i></h2>
          </div>
        {{/if}}
      </div>

    </div>
  </section>

  <footer class="container mb-4">
    <h4 class=" mx-auto text-light">

    ¡Agradecemos su preferencia! Se envió un correo electrónico de confirmación a <span id="customer-email"></span>.
    </h4>
    <h4 class=" mx-auto text-light">

Si tiene alguna pregunta, envíe un correo electrónico a <a href="mailto:ruben.roldan@gmail.com">ruben.roldan@gmail.com</a>.
    </h4>
  </footer>




</main>

<script src="/js/purchase.js"></script>
<script src="/js/util.js"></script>
