<main>
  <div class="bienvenida">
    <h1>Hola {{username}} Bienvenido a nuestro e-commerce</h1>
    <h2> {{nombre}} {{apellido}} Aquí se pueden editar los productos</h2>
  </div>
  <div>
    {{#if admin}}
    <div class="wrapper ">




      <div class="container productsContainer" id="realTimeProductsArea">
        {{#each products}}

    <div class="card" id="product-{{@index}}">
      <div class="thumbnail-display-area">
        <img class="main-image" src="{{this.thumbnails.[0]}}" alt="Imagen principal del producto">
      </div>
      <div class="thumbnails">
        {{#each this.thumbnails}}
          <img class="thumbnail" src="{{this}}" alt="Thumbnail del producto">
        {{/each}}
      </div>
      <h3>{{this.title}}</h3>
      <p>Descripción: {{this.description}}</p>
      <p>Código: {{this.code}}</p>
      <p>Precio: {{ this.price}}</p>
      <p>Estado: {{#if this.status}} Disponible {{else}} No disponible {{/if}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Categoría: {{this.category}}</p>
      <div class="container-fluid d-flex justify-content-evenly">
        <button class="btn btn-danger delete" data-id="${this.id}">Eliminar</button>
        <button class="btn btn-secondary update" data-id="${this.id}">Editar</button>
      </div>
  </div>

        {{/each}}
      </div>
      <div class="container productsContainer ">
          <form id="productForm" class=" rounded-0">

              <div class="card" id="newProdDetails">
                
                  {{!-- <div class="thumbnail-display-area">
                      <img class="main-image" src="{{this.thumbnails.[0]}}" alt="Imagen principal del producto">
                      <p class="detail-item">Ruta Imagen:</p>
                      <input class="main-image-path" type="text" value="{{this.thumbnails.[0]}}">
                  </div> --}}

                  {{!-- <div class="thumbnails">
                      {{#each this.thumbnails}}
                      <img class="thumbnail" src="{{this}}" alt="Thumbnail del producto">
                      {{/each}}
                  </div> --}}

                  <div class="details-area">
                      <p class="detail-item">Title: <input type="text"></p>
                      <p class="detail-item">Descripción: <input type="text"></p>
                      <p class="detail-item">Código: <input type="text"></p>
                      <p class="detail-item">Precio: <input type="text"></p>
                      <p class="detail-item chk-boton">Activo: <input type="checkbox" id="btn-switch"><label for="btn-switch" class="lbl-switch"></label></p>
                      <p class="detail-item">Stock: <input type="text"></p>
                      <p class="detail-item">Categoría: <input type="text"></p>
                      <p class="detail-item">Imagen: <input type="file" name="image"></p>
                  </div>
                  <button class="btn btn-dark rounded-0">Enviar</button>
              </div>
          </form>
      </div>
    </div>

    {{else}}
    <div class="container">

      <h2 style="color: rgb(177, 24, 24);">Necesitas permisos de administrador para editar los productos</h2>
    </div>
    {{/if}}
  </div>
</main>
<script src="/js/editProducts.js"></script>
