
<main>
  <div class="bienvenida mt-4">
    <h1>Hola {{username}}, aquí están tus tickets de compra</h1>
    <h2>Tickets de <strong>{{nombre}}</strong></h2>
  </div>

  <section class="w-75 mx-auto mt-4">
    <div class="container">
      <div class="tickets container">
        {{#if tickets.length}}
          {{#each tickets}}
            <div class="row ticket bg-body mb-3 d-flex 
            flex-nowrap flex-row container-fluid rounded-3 p-2 
            align-items-center align-content-center" id="ticket-{{@index}}">
              <div class="col-md-2">
                <div class="ticket-code d-flex flex-column align-items-center">
                  <small>Code</small>
                  <h3>{{this.code}}</h3>
                </div>
              </div>

              <div class="col-md-4">
                <div class="ticket-datetime d-flex flex-column align-items-center">
                  <small>Fecha y hora</small>
                  <h4>{{this.purchase_datetime}}</h4>
                </div>
              </div>

              <div class="col-md-2">
                <div class="ticket-amount d-flex flex-column align-items-center">
                  <small>Monto</small>
                  <h4>{{this.amount}}</h4>
                </div>
              </div>

              <div class="col-md-4">
                <div class="ticket-purchaser d-flex flex-column align-items-center">
                  <small>Comprador</small>
                  <h4>{{this.purchaser}}</h4>
                </div>
              </div>
            </div>
          {{/each}}
        {{else}}
          <div class="tickets-vacio">
            <h2>No tienes tickets de compra <i class="bi bi-emoji-frown"></i></h2>
          </div>
        {{/if}}
      </div>
    </div>
  </section>

  <footer class="container">
    <p class="texto-footer mx-auto text-light">© 2024 Gagolabs</p>
  </footer>
</main>

<script src="/js/tickets.js"></script>

