  <div class="bienvenida-full">


  <div class="bienvenida mt-2 mt-md-5">
    {{!-- hero --}}
    <div class="container position-relative mt-2 mt-md-5 bg-dark rounded-top-4 p-2 rrShadow">
      <div class="position-absolute top-2 start-0 rounded-4 ms-3">
        <a href="/">
              <img src="" class="rounded-4 hero-image" style="width: 100px; height: 100px;" alt="logo e-commerce">
        </a>
      </div>
      <div class="mensaje  text-center">
        <h1 class="text-center">Historial de compras de </h1>
        <h2> {{nombre}} {{apellido}}</h2>
      </div>
      <div class="position-absolute top-2 end-0 rounded-4 me-3">
        <a href="/">
              <img src="" class="rounded-4 hero-image" style="width: 100px; height: 100px;" alt="logo e-commerce">
        </a>
      </div>
    </div>
    <p id="notMocking" class="d-none">{{notMocking}}</p>
    <h3 class="cart_id d-none " id="cart_id" >cart id {{cart_id}} </h3>
    {{!-- menu --}}
    <div class="container d-flex justify-content-between mt-0 mx-2 py-3 bg-secondary z-3 rounded-bottom-4" style="background-color: #213547;">
      <div class="flex ">
      </div>
      <div class="flex mx-2">
          <a href="/" class="btn btn-dark" ><i class="bi bi-shop-window me-2"></i>Volver a la tienda</a>
      </div>
    </div>
  </div>
  </div>



<main>
  <div class="container mt-0 z-3 ">


    <div class="container rrPrimaryBG bg-gradient rounded-4 mt-0 pb-4 rrShadow">
      <h2 class="mt-2 ">Listado de Tickets</h2>






      
    <div class="container tickets-table-container">

          {{#if tickets.length}}
            <table class="table-tickets  mt-2">
              <thead>
                <tr>
                  <th>Código del Ticket</th>
                  <th>Fecha de Compra</th>
                  <th>Monto</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {{#each tickets}}
                  <tr id="{{_id}}">
                    <td>{{this.code}}</td>
                    <td>{{formatDate this.purchase_datetime}}</td>
                    <td>{{toPesos this.amount}}</td>
                    <td>
                      <form action="/tickets/{{_id}}" method="GET">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-search me-2"></i>Revisar Ticket</button>
                      </form>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <div class="tickets-vacio">
              <h2 class="text-danger">No tienes tickets de compra <i class="bi bi-emoji-frown"></i></h2>
            </div>
          {{/if}}
    </div>



    </div>
  </div>

  <footer class="container">
  
  </footer>
</main>

<script src="/js/util.js"></script>
