


  <div class="bienvenida-full"></div>
    <div class="bienvenida mt-2 mt-md-5">
      {{!-- hero --}}
      <div class="container position-relative mt-2 mt-md-5 bg-dark rounded-top-4 p-2 rrShadow">
        <div class="position-absolute top-2 start-0 rounded-4 ms-3">
          <a href="/">
                <img src="" class="rounded-4 hero-image" style="width: 100px; height: 100px;" alt="logo e-commerce">
          </a>
        </div>
        <div class="mensaje  text-center">
          <h1 class="text-center">Listado de Usuarios</h1>
          <h2> Usuarios actualmente registrados</h2>
        </div>
        <div class="position-absolute top-2 end-0 rounded-4 me-3">
          <a href="/">
                <img src="" class="rounded-4 hero-image" style="width: 100px; height: 100px;" alt="logo e-commerce">
          </a>
        </div>
      </div>
      <p id="notMocking" class="d-none">{{notMocking}}</p>
      <h3 class="cart_id d-none " id="cart_id" >cart id {{cart_id}} </h3>
      {{!-- menu --}}
      <div class="container d-flex justify-content-between mt-0 mx-2 py-3 bg-secondary z-3 " style="background-color: #213547;">
        <div class="flex ">
        </div>
        <div class="flex mx-2">
            <a href="/" class="btn btn-dark" ><i class="bi bi-shop-window me-2"></i>Volver a la tienda</a>
        </div>
      </div>
    </div>
  </div>




    <div class="container rrPrimaryBG rrShadow rounded-bottom-4 mt-0 z-3">

    <table class="mt-2">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Imagen de Perfil</th>
                <th>DNI</th>
                <th>Domicilio</th>
                <th>Cuenta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{first_name}} {{last_name}}</td>
                <td>{{email}} </td>
                <td>{{role}}</td>
                <td>
                    {{#if (hasDocument "profile" this.documents)}}
                        <span class="icon icon-check accomplish-icon-check">&#10004;</span>
                    {{else}}
                        <span class="icon icon-cross accomplish-icon-cross">&#10008;</span>
                    {{/if}}
                </td>
                <td>
                    {{#if (hasDocument "dni" this.documents)}}
                        <span class="icon icon-check accomplish-icon-check">&#10004;</span>
                    {{else}}
                        <span class="icon icon-cross accomplish-icon-cross">&#10008;</span>
                    {{/if}}
                </td>
                <td>
                    {{#if (hasDocument "domicilio" this.documents)}}
                        <span class="icon icon-check accomplish-icon-check">&#10004;</span>
                    {{else}}
                        <span class="icon icon-cross accomplish-icon-cross">&#10008;</span>
                    {{/if}}
                </td>
                <td>
                    {{#if (hasDocument "cuenta" this.documents)}}
                        <span class="icon icon-check accomplish-icon-check">&#10004;</span>
                    {{else}}
                        <span class="icon icon-cross accomplish-icon-cross">&#10008;</span>
                    {{/if}}
                </td>
                <td>
                    <form action="/profile/{{_id}}" method="GET">
                        <button class="btn btn-primary" type="submit">Revisar Perfil</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    </div>

<script src="/js/util.js"></script>
